/*.table-container{
    margin: 0 auto;
    width: 1500px;
    height: 800px;
    border: 1px solid grey;
    display: flex;
    flex-wrap: wrap;
}
*/








/* 
.table-container{
    font-size: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 15px;
} */